<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Untitled</h1>
      </div>
      <div class="modal-body">
        <p>
          <span class="glyphicon glyphicon-refresh index-loading"/>
        </p>
      </div>
    </div>
  </div>
</div>
